section#contact-section.doc-section
  h2.section-title Contact
  .section-block
    h3 Angaben gemäß § 5 TMG
    p
      | Sascha Depold<br>
      | Uhlandstr. 160<br>
      | 10719 Berlin
      
    h3 Kontakt
    p
      | E-Mail: sascha@depold.com
    
    h3 Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV
    p
      | Sascha Depold<br>
      | Uhlandstr. 160<br>
      | 10719 Berlin<br>
      | Quelle: http://www.e-recht24.de
