section#development-section.doc-section
  h2.section-title Development
  .section-block
    p
      | In order to run the app locally, you can execute the following steps:
    
    pre.command-line.language-bash
      code.language-bash
        | git clone git@github.com:sdepold/feedrapp.git
        | cd feedrapp
        | yarn
        | yarn start
        
    p
      | The app will now start on port 3000 and can be queried like this:
      
    pre.language-text
      code.language-text
        | curl http://localhost:3000/?q=http://www.ebaytechblog.com/feed/
    
    p
      | The easiest way to get your own dedicated version of feedrapp is probably via Heroku:

    pre.command-line.language-bash
      code.language-bash
        | heroku create
        | git push heroku master
        | heroku open
    
