section#caching-section.doc-section
  h2.section-title Caching
  .section-block
    p
      | Since v1.5.0 every requested RSS feed is cached for 30 minutes.
      | This value might be configurable in the future. Pull requests are welcome. 
      | The change was introduced because the app received too much traffic to function 
      | fine on Heroku – and because it just makes sense.
