section#hosting-section.doc-section
  h2.section-title Hosting
  .section-block
    p
      | Since the publicly available version of Feedr can be used by everybody,
      | it might be unstable from time to time. If this is unacceptable for you,
      | you can run your own dedicated version of the API yourself. The easiest 
      | way to get started is probably via Heroku:

      pre.command-line.language-bash
        code.language-bash
          | git clone git@github.com:sdepold/feedrapp.git
          | cd feedrapp
          | heroku create
          | git push heroku master
          | heroku open
