section#introduction-section.doc-section
  h2.section-title Introduction
  .section-block
    p
      | Feedr is a service for parsing RSS and Atom feeds. You just pass the URL
      | of an RSS/Atom feed and the service will return the parsed feed as JSON.
      | Feedr was originally designed as a drop-in replacement for Google's Feed
      | API, which has been deprecated and taken offline on December 15th, 2016.
