section#options-section.doc-section
  h2.section-title Options
  .section-block
    p
      | In addition to the
      code q
      | parameter, Feedr supports other optional parameters.

    table.table
      thead
        tr
          th Parameter
          th Description
      tbody
        tr
          td callback
          td Wraps the answer in a function call, which makes it compatible to JSONP calls
        tr
          td num
          td Number of entries to load
