section#options-section.doc-section
  h2.section-title Options
  .section-block
    p
      | In addition to the
      code q
      | parameter, Feedr supports other optional parameters.

    table.table
      thead
        tr
          th Parameter
          th Description
      tbody
        tr
          td callback
          td Wraps the answer in a function call, which makes it compatible to JSONP calls
        tr
          td num
          td Number of entries to load
        tr
          td encoding
          td 
            | The text encoding of the to be parsed feed. Defaults to "utf8". Find supported values 
            a(href="https://github.com/ashtuchkin/iconv-lite/wiki/Supported-Encodings") here
            | .
