section#options-section.doc-section
  h2.section-title Options
  .section-block
    p
      | In addition to the
      code q
      | parameter, Feedr supports other optional parameters.

    table.table
      thead
        tr
          th Parameter
          th Description
          th Examples
      tbody
        tr
          td callback
          td Wraps the answer in a function call, which makes it compatible to JSONP calls
          td callback=callback123456789
        tr
          td num
          td Number of entries to load. Defaults to 4.
          td num=15
        tr
          td encoding
          td 
            | The text encoding of the to be parsed feed. Defaults to "utf8". Find supported values 
            a(href="https://github.com/ashtuchkin/iconv-lite/wiki/Supported-Encodings") here
            | .
          td encoding=ISO-8859-1
        tr
          td order
          td.
            Specifies the order of entries. <br>
            By default there is no ordering happening and the entries are kept in the order of the original RSS feed. <br>
            The order can be overridden by providing any of the entry's fields (e.g. publishedDate, title, …). 
            In order to reverse the order, just prefix the field with a <code>-</code>.
          td
            | order=title
            br
            | order=-publishedDate
